*{
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
      
   
}
:root {
    --white-color: #fff;
    --light-gray-color: #f5f5f5;
    --medium-gray-color: #888;
    --gray-color: #555;
    --blue-color: #0266C8;
    --primary-color: #f0f8fa;
    --shadow-color: #f5f5f5;
}
.navbar{
    width: 70px;
    height: 100%;
    background-color:#461c50;
}
.icon{
    color: white;
    display: block;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}
.icon:hover{
    background-color: #72467c;
}
.h1{
    color: white;
    display: block;
    margin-left: 13px;
    font: bold;
}
.title-abbr{
    background-color: aqua;
}
/* -------------------------------------------------header-body---------------------------------------- */
.head{
    position: relative;
    
/*    width: 250px;*/
    height: 55px;
    background-color: #D3D3D3;
    left: 14px;
    opacity: 0.32;
    cursor: all-scroll;
    /* border:1px solid black; */
}
.icon-mas{
  position: absolute;
  color: #D8D8D8;
  top: 12px;
  right: 98%;
  visibility: hidden;
  cursor: pointer;
}
.icon-mas1{
  position: absolute;
  color: #D8D8D8;
  top: 12px;
  left: 98%;
  visibility: hidden;
  cursor: pointer;
}
.icon-mas1:hover{
  color: #8e8f83;
}
.icon-mas:hover{
  color: #8e8f83;
}
h3{
  left: 30px;
  top: 6px;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
}
.icon-head{
  position: relative;
  left: 0px;
  top: 30px;
  margin: 30px;
}

.p-30{padding: 30px !important;}
.pt-30{padding-top: 30px !important;}
.pl-30{padding-left: 30px !important;}
.pr-30{padding-right: 30px !important;}
.pb-30{padding-bottom: 30px !important;}
/* ------------------------------------------------body------------------------------------------------- */
.d-content{display: contents !important;}
.d-flex{display: flex !important;}
.f-grow-1{flex-grow: 1 !important;}
.input{
    position: relative;
    left: 30px;
    top: 10px;
    height: 30px;
    width: 16%;
   border-radius: 6px;
   box-shadow: inset 0 1px 2px;
   border: none;

   
}
.inputs{
    
/*    box-shadow: inset 0 1px 2px;*/
    height: 30px;
    width: 100%;
/*   border-radius: 6px;*/
  padding: 12px;
   border: none;
   background-color: #FFFFFF;
  
}

label{
  font-family: Arial, Helvetica, sans-serif;
}

.conten{
    
    height: 8%;
    width: 100%;
    align-items: center;
    position: relative;
}
.swtich-container{
    position: relative;
    left: 60%;
   
}
.buton{
    position: relative;
    top: 20px;
    left: 65%;
    width: 90px;
    height: 30px;
    margin: 5px;
    font-size: 17px;
    font: bold;
    cursor: pointer;
}
.buton1{
    position: relative;
    top: 20px;
    left: 65%;
    width: 90px;
    height: 30px;
    margin: 5px;
    font: bold;
    background-color: #2ab934;
    border: none;
    font-size: 17px;
    color: white;
    cursor: pointer;
}

  .header-body{
    background-color: #ebebeb;
    width: 100%;
    height: 6%;
  }
  /* .Rows{
    background-color: #ebebeb;
    width: 15%;
    height: 100%;
    
  } */

.label{
   
    
}
.label:hover{
  
}
.container{
  /* background-color: #2196F3; */
  /* grid-template-columns: repeat(auto-fill, minmax(225px, 3fr)); */
  grid-template-columns: repeat(50,1fr);
  flex-direction: row;
  display: grid;
  gap: 5px;
   overflow:auto; 
    
}

.container1{
  position: relative;
    left: 14px;
    padding-top: 1rem;
    width: 300px;
}


/* .head:hover{
  background:green;
} */

.form-select {
    display: block;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.line-row
{
  display: flex;
}
.container-pruebas:hover .icon-mas1{
  visibility: visible;
}
.container-pruebas:hover .icon-mas{
  visibility: visible;
}
.container-pruebas:hover .grid-item-2{
  background-color:  #F5F5F6;
}
.container-pruebas:hover .head{
  background-color:  #F5F5F6;
}
.container-pruebas:hover .head{
  opacity: 5;
}
.container-pruebas:hover .grid-item-2 {
  opacity: 5;
}
.container-pruebas:hover .delete{
  visibility: visible;
}
.container-pruebas{
  position: relative;
/*  width: 87%;*/
}


.grid-item {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: #F5F5F6;
  
}
.letras{
    margin-top: 35px;
}


.grid-item-2 {
  
    
    padding: 1rem;
    width: 100%;
    height: 570px;
    opacity: 0.32;
   
}



/* #id-prueba:hover{
  background-color: #D8D8D8;
}

.grid-item-2:hover .delete{
  visibility: visible;
} */
 
.ico{
    margin-left: 20px;
}

/*************module icons***********/
.module-icons .icon-head
{
  padding-left: 10px;
  margin: 0;
  top: 0;

}
.module-icons
{
    display: flex;
    justify-content: end;
    padding-right: 20px;
        padding-top: 15px;
}
.module-icons .icon-head svg
{
  display: flex;
  border: 1px solid black;
background: transparent;

}
.module-icons .icon-head svg:hover
{
  cursor: pointer;
  color: var(--medium-gray-color);
/*  color: white;*/
}
/* ------------------------switch ---------------------------------*/
.icon-label{
    position: relative;
    left: 10px;
    top: 2px;
    cursor: pointer;
}
.icon-label:hover{
  color: #461c50;
}

.label-switch{
    position: relative;
    top: 22px;
    left: 390px;
    font-family: Arial, Helvetica, sans-serif;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 25px;
    top: 10px;
    left:5%;
    background-color: var(--light-gray-color);
    border-radius: 34px;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #d3d3d3;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
/*  ********************modals****************/
.hidde_control {
    display: none !important;
}
.show_control {
    display: inherit !important;
}
.user_modal {
    padding: 2rem;
    left: 0;
    right: 0;
    top: 10rem;
    max-width: 40%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 3px 5px 0 var(--shadow-color);
    border: 1px solid #eee;
    position: absolute;
    z-index: 100;
    background-color: var(--white-color);
}
.user_modal .modal_info {
    font-size: 1.2rem;
}
.user_modal div {
    margin: 1rem 0;
    width: 100%;
}
.user_modal .modal_controls {
    text-align: right;
}
#modal_acept:hover {
    background-color: var(--white-color);
    color: var(--blue-color);
}
#modal_acept {
    background-color: var(--blue-color);
    border: 1px solid var(--blue-color);
    color: var(--white-color);
}
#modal_cancel {
    background-color: var(--white-color);
    border: 1px solid var(--light-gray-color);
    color: var(--medium-gray-color);
}
#modal_cancel:hover {
    background-color: var(--light-gray-color);
    color: var(--gray-color);
}
.modal_user_input {
    position: absolute;
/*    z-index: -1;*/
    left: 2rem;
    width: 80%;
    border: none;
    background-color: var(--light-gray-color);
    padding: 0.4rem 0.8rem;
}
.user_modal .modal_controls button {
    padding: 0.4rem;
    border: none;
    margin-left: 0.6rem;
    transition: .3s;
}
/**********************************************/
  input:checked + .slider {
    background-color: #2ab934;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
  }
  
  /*------ ADDED CSS ---------*/
  .on
  {
    display: none;
  }
  
  .on, .off
  {
    color: white;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
  }
  
  input:checked+ .slider .on
  {display: block;}
  
  input:checked + .slider .off
  {display: none;}
  
  /*--------- END --------*/
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
    margin: 0;
  }
  
  .slider.round:before {
    margin: 0;
    border-radius: 50%;}

/* ------------------------switch 2---------------------------------*/
.switch2 {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 18px;
  top: 36%;
  left: 80%;
 
 
}

.switch2 input {display:none;}

.slider2 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d3d3d3;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider2:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider2 {
  background-color: #2ab934;
}

input:focus + .slider2 {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider2:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/*------ ADDED CSS ---------*/
.on
{
  display: none;
}

.on, .off
{
  color: white;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}

input:checked+ .slider2 .on
{display: block;}

input:checked + .slider2 .off
{display: none;}

/*--------- END --------*/

/* Rounded sliders */
.slider2.round2{
  border-radius: 34px;
}

.slider2.round2:before {
  border-radius: 50%;}

/* ----------------------mostrar nemsaje en el icon--------------------------------- */
/* Contenedor del popup */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.popup:hover{
  color: purple;
}

/* pop-up actual */
.popup .popuptext {
  visibility: hidden;
  width: 300px;
  background-color: black;
  color: white;
  /* text-align: center; */
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Muestra del Pop-up*/
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Cambio para mostrar/ocultar el contenedor del pop-up */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Animación del pop-up */
/* @-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
} */
/* --------------------------------------------------------------------------- */

.botn-delete{
  position: relative;
  top: 50%;
  background-color: #8e8f83;
  
}
.delete{
  position: absolute;
  margin-top: 17px;
  height: 40px;
  width: 100%;
  border: none;
  align-content: flex-start;
  cursor: pointer;
  visibility: hidden;
  background-color: #F5F5F6;
  font-family: Arial, Helvetica, sans-serif;
}
.delete:hover{
  background-color: #2B74DA;
  color: #FFFFFF;
  
  
}
/* -------pruebas---------- */
.nuevo{
 
  min-width: 256px;
  width: auto;
  display: flex;
  position: absolute;
  flex: 1 1 0%;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 16px;
}
.body-padre{
  width: 100%;
    height: 85vh;
    display: flex;
  
}

.btn-new{
  background-color: #2ab934;
  cursor: pointer;
  
}
/*********************body**********/
.p-event-n
{
  pointer-events: none !important;
/*  background-color: var(--light-gray-color);*/
}

/*_---------------------------------------------------------------modal-------------------------------------------------------  */
.modal{
  visibility: hidden;
  position: relative;
}
.label_modal{
  position: relative;
  left: 40px;
}
.modal_style{
  background-color: #ced4da;
  width: 20%;
  height: 25%;
  position:absolute;
  bottom: 50%;
  left: 40%;

}
.modal_style:target {
	opacity:1;
	pointer-events: auto;
}
.container_modal{
 margin-top: 30px;
}
.input{
  width: 200px;
  margin-left: 8px;
}
/* .modal_fonfo{
  background: black;
} */
.btn_guardar{
  position: relative;
  top:26px;
  left: 75%;
  padding: 0.4rem;
  background: #0d6efd;
  border: none;
  cursor: pointer;
  color: white;

}
.icon_modal{
  position: relative;
  margin-left: 90%;
  cursor: pointer;
}












